/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 #start_bg {
  background-image: asset-url("glasses_background.jpg");
  background-size: cover;
  color: orange;
  height: 650px;
  padding: 150px 30px;
 }

 #background_list {
  margin-top: 50px;
  margin-bottom: 150px
 }

 .card {
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(30, 30, 30, 0);
  padding: 30px;
  margin-top: 150px;
  margin-bottom: 100px;
 }

 .card_small {
  background-color: orange;
  border-radius: 2px;
  border: 1px solid rgba(30, 30, 30, 0);
  padding: 30px;
  margin: 30px;
  font-size: 22px;
 }
