/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 #start_bg {
  background-image: asset-url("glasses_background.jpg");
  background-size: cover;
  color: orange;
  height: 650px;
  padding: 150px 30px;
 }
